.btn {
	display: inline-block;

	margin: 0.2em 0.5em 0.2em 0;
	padding:2px;
	@include border-radius(40px);
	background-size: cover;


	@include transition(background, 0.2s, ease-out);

	span {
		display: inline-block;
		padding: 8px 19px;
		@include border-radius(40px);

		font-size: 19px;
		text-align: center;
		font-weight: 600;

		@include transition(background, 0.2s, ease-out);
	}


	&.btn--big span {
		font-size: 25px;
	}

	&.btn--transparent-white {
		span{
			color: #fff;
		}
		&:hover span {
			color:#d1f6ff;
		}
	}

	/* backgrounds settings */
	&.btn--bg-white {
		span {
			background: #fff;
			color: #0f80c4;
		}
	}


	&.btn--bg-black {
		span {
			background: $darkgrey3;
			color: #fff;
		}


		&:hover span {
			background: #333;
			color: #ededed;
		}

		&:active span {
			text-shadow:0 1px 1px #000;
		}
	}


	&.btn--bg-darkblue {
		span {
			background: rgba(1,73,117, 1);
			color: #fff;
		}

		&:hover span {
			background: rgba(3,93,148, 1);
		}
	}


	/* borders settings */
    $colorList:
    "blue"   $blue,
    "red"    $red,
    "orange" $orange,
    "green"  $green
    ;

    @each $i in $colorList {
        &.btn--border-#{nth($i,1)} {
            background: #{nth($i,2)};
            background: url(/assets/images/homework/btn-grad-#{nth($i,1)}.svg);
        }
    }


	&:hover {
		background-position: -200px;
	}

}


.btn--left-sep {
	&:before {
		@include inline-block();

		content: " ";
		width: 1px;
		height: 38px;
		background: #383838;
		margin: 0 20px;
	}
}



.btn--arrow-down {
	@include border-radius(50%);

	span {
		width: 25px;
		height: 25px;
		padding: 0;
		@include border-radius(50%);

		text-indent: -9999px;

		background: rgba(1,73,117, 1) url(/assets/images/homework/btn-arrow-down.svg) center center no-repeat;
		background-size: 14px 10px;
	}

	&:hover {
		span {
			background-color: rgba(3,93,148, 1);
		}
	}
}