.item {
	
}


.item__time-cat {
	line-height: 1;
	display: block;
	margin-bottom: 10px;

	time {
		display: inline-block;
		vertical-align: middle;
		padding-left: 24px;
		padding-top: 2px;
		margin-right: 6px;

		background: url(/assets/images/homework/ico-time.svg) center left no-repeat;
		background-size: 17px 17px;
	}


}


.item__cat {
	@include inline-block();
	padding-top: 2px;

	&:before {
		display: inline-block;
		vertical-align: middle;
		content: " ";
		width: 1px;
		height: 15px;
		background: $darkgrey;
		margin-right: 8px;
	}
}

.item__author {
	@extend .item__cat;

	img {
		@include inline-block();
		width: 35px;
		height: 35px;
		margin: -5px 5px 0 0;

		border: 2px solid #fff;
		@include border-radius(50%);
		@include box-shadow(0px,3px,9px,0px,rgba(50, 50, 50, 0.35));
	}
}




.item__back-to-list {
	display: inline-block;
	padding: 3px 30px 3px 3px;

	font-size: 1.25em;
	font-weight: 600;

	background: url(/assets/images/homework/ico-tiles.svg) center right no-repeat;
	background-size: 17px 17px;
}



.item__category {
	display: block;
	margin-bottom: 5px;
	padding: 2px 0 2px 25px;
	clear: both;

	background: url(/assets/images/homework/ico-news.svg) center left no-repeat;
}


.item__category--49 {
	background: url(/assets/images/homework/ico-video.svg) center left no-repeat;
}


.item__category--52 {
	background: url(/assets/images/homework/ico-datasheets.svg) center left no-repeat;
}