 /* ==========================================================================
   Marketo Form
   ========================================================================== */
.mktoForm input, .mktoForm select {
    box-sizing:content-box !important;
    -ms-box-sizing:content-box !important;
    -moz-box-sizing:content-box !important;
    -webkit-box-sizing:content-box !important; 
}
.mktoForm {
    font-family: "proxima-nova",sans-serif !important;
    color:#576369 !important;
    font-size: 18px !important;
    line-height: 1.52 !important;
    width:100% !important;
    padding:0;
    float:right;
    margin-top:0;
    color: #444444 !important;
    font-weight: 400 !important;
    line-height: 1.5 !important; 

}
.mktoField {
    width:100% !important;
}

.mktoForm .mktoLabel {
    font-weight: 400 !important;
}


.mktoForm .mktoRequiredField label.mktoLabel {
    font-weight: normal !important;
}
.mktoFieldWrap {
    width: 100% !important;
}
.mktoFormRow {
    width: 100% !important;
}
.mktoOffset {
    display: none !important;
}
.mktoLabel {
    width: 100% !important;
    padding-bottom: 7px !important;
    font-weight: 600 !important;
}
.mktoFormCol{
    width: 100%;
}
.mktoForm select.mktoField {
    -moz-appearance: none;
    background: #FFFFFF !important;
    padding: 0.2em 0.3em 0.2em 0.3em !important;
    text-overflow: clip !important;
}
form.mktoForm input[type="text"], .mktoForm input[type="url"], .mktoForm input[type="email"], .mktoForm input[type="tel"], .mktoForm input[type="number"], .mktoForm input[type="date"], select.mktoField {
    width: 96% !important;
    padding: 5px 2% !important;
    margin-bottom: 10px !important;
    border: 1px solid #ced0d1 !important;
    font-size: 16px !important;
    color: #576369 !important;
}

.mktoHtmlText {
    width: 100% !important;
}

.mktoButtonWrap {
    width: 100% !important;
    margin: 0 !important;
    display: inline-block !important;
    text-align: center !important;
}
.mktoButtonRow {
    width: 100% !important;
}

.mktoButton {
    float: left;
    width: auto !important;
    font-size: 19.2px !important;;
    text-shadow: 0px 1px 0px #fff !important;
    font-weight: 600 !important;
    font-family: inherit !important;
    border-radius: 40px !important;
    border: 2px solid #3eaafe !important;
    background: #fff !important;
    padding:10px 19px !important;
    color: #0f80c4 !important;

  -webkit-transition: all 0.2s linear;
     -moz-transition: all 0.2s linear;
       -o-transition: all 0.2s linear;
          transition: all 0.2s linear;    
}
.mktoButton:hover {
    border: 2px solid #0f80c4 !important;
    color: #0d6ba8 !important;
}
.mktoButton:active {
    border: 2px solid #0f80c4 !important;
    color: #fff !important;
    text-shadow:0 -1px 1px #0d6ba8 !important;
    background: #0f80c4 !important;
}




.marketo-forms__contact {

    @media screen and (min-width: 530px)
    {
        .mktoFormRow {

            .mktoFormCol {
                width: 48%;

                &:nth-child(2) {
                    float: right !important;
                }

            }


            &:nth-of-type(4),
            &:nth-of-type(5) {
                .mktoFormCol {
                    width: 100%;
                }
            }
        }
    }

}


.marketo-forms__resource {

    @media screen and (min-width: 530px)
    {
        .mktoFormRow {

            .mktoFormCol {
                width: 48%;

                &:nth-child(2) {
                    float: right !important;
                }

            }
        }
    }

}


.mktoForm textarea.mktoField {
    height: 150px !important;
}


.popup-form-container {
    padding-top: 0;
    max-width: 600px;
    width: 90%;
    margin: 0 auto;
    background-color: #fff;
    padding: 3em;

    position: relative;
}

.marketo-forms__resource-container {

    @include clearfix();
    padding: 20px 30px;
    background: #fff;
    color: #666;

    form {
        margin: 0 !important;
        padding: 0 !important;
    }

    .headline-2 {
        color: #555;

        .headline-2__smaller {
            color: #888;
        }
    }
}