
/*
   ---------------------- BASE
*/

html body {
  font-family: "Montserrat";
  font-size: 100%;
  line-height: 1.4;
}

body {
	background: #fff;

  padding-top: 80px;
}

a {
	color: $blue1;
  text-decoration: none;

  &:hover {
    color: $navyblue;
  }
}

.blue {
  color: $blue1;
}

.green {
  color: $green;
}

.orange {
  color: $orange;
}

.red {
  color: $red;
}

/*
   ---------------------- GRID/COLUMNS
*/
      .layout,
      .layout2,
      .layout3,
      .layout4 {
        margin: 0 auto;

        @include clearfix();
      }


      .layout {
        position: relative;
        width: 93%;
        max-width: 1418px;
      }


      .layout2 {
        width: 90%;
        max-width: 1120px;
      }

      .layout3 {
        width: 92%;
        max-width: 1200px;
      }


      .layout4 {
        width: 96%;
        max-width: 1360px;
      }

      .col-10 {
        width: 10%;
      }

      .col-15 {
        width: 15%;
      }

      .col-20 {
        width: 20%;
      }

      .col-25 {
        width: 25%;
      }

      .col-40 {
        width: 40%;
      }

      .col-45 {
        width: 45%;
      }

      .col-50 {
        width: 50%;
      }



      .col-30 {
        width: 30%;
      }

      .col-35 {
        width: 35%;
      }

      .col-55 {
        width: 55%;
      }

      .col-60 {
        width: 60%;
      }

      .col-65 {
        width: 65%;
      }

      .col-70 {
        width: 70%;
      }

      .col-75 {
        width: 75%;
      }

      .col-80 {
        width: 80%;
      }

      .col-85 {
        width: 85%;
      }

      .col-100 {
        width: 100%;
      }


      .col-33,
      .col-one-third {
        width: 33.3335%;
      }


      .left {
        float: left;
      }

      .right {
        float: right;
      }

      .text-align-left {
      	text-align: left;
      }

      .text-align-right {
      	text-align: right;
      }

      .text-align-center {
      	text-align: center;
      }


      .page-section img {
        max-width: 100%;
        height: auto !important;
      }


  /*
      ----------------------
  */


      @media screen and (min-width: 200px) and (max-width: 768px)
      {
          .col-10,
          .col-15,
          .col-20,
          .col-25,
          .col-30,
          .col-33,
          .col-35,
          .col-one-third,
          .col-35,
          .col-40,
          .col-45,
          .col-50,
          .col-55,
          .col-60,
          .col-65,
          .col-70,
          .col-75,
          .col-80,
          .col-85,
          .col-90 {
            width: 100% !important;
            clear:both;

            &:not(:last-child) {
              margin-bottom: 30px;
            }
          }


          .page-section > .layout > div > div,
          .page-section > * > div > div,
          .page-section .layout2 > * > div,
          .page-section .layout3 > * > div,
          .news-list__section > div > div,
          .page-section--services .col-25 > div {
            padding-left: 0 !important;
            padding-right: 0 !important;
            padding-top:10px;
            padding-bottom: 10px;
          }


      }