$blue: rgb(25,166,214); // blue border in btn
$blue1: #0f80c4;
$blue2: #0f80c4;
$navyblue: #014975; // from footer
$darkgrey: #232524;
$darkgrey2: #2b2e2d; // from shortcuts
$darkgrey3: #2a252b; // grey from slider @ homepage
$grey: #4c5357; // font color @ homepage
$lightblue: #d1f6ff; // color of text in slider @ homepage
$lightblue2: #b3eaff;
$grey: #7a8488; // text color
$red: #ed2d23;
$orange: #f2a329;
$green: #70bd47;
